html {
  height: 100%;
}
body {
  background-image: url("background_img.jpg");
  color: #FFFFFF;
  font-family: sans-serif;
  height: 100%;
}

.title {
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
}



.the_game {
  text-align: center;
  display: block;
  width: 600px;
  height: 100%;
  margin: 0 auto;
}
.card {
  width: 200px;
  
}

.card-layer {
  width: 200px;
  height: 270px;
  position: relative;
  background-color: #000000;
  display: inline-block;
  
}

.caption {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  width: 95px;
  display: none;
  bottom: 130px;
  left: 50px;
}

.caption1, .caption2 {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  width: 95px;
  display: none;
  bottom: 55px;
  left: 5px;
}

.card-layer:hover .card-layer {
  opacity: 0.75;
}

.card-layer:hover .card {
  opcaity: 0.25;
}

.card1, .card2, .card3, .card4 {
  width: 100px;
}

.card1-layer, .card2-layer, .card3-layer, .card4-layer {
  width: 100px;
  height: 136px;
  position: relative;
  background-color: #000000;
  display: inline-block;
}

.card-layer:hover .card, .card1-layer:hover .card1, .card2-layer:hover .card2 {
  opacity: 0.35;
}

.card-layer:hover .caption, .card1-layer:hover .caption1, .card2-layer:hover .caption2 {
  display: block;
}

.player {
  width: 100%;
  height: 150px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.dealer {
  width: 100%;
  height: 150px;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 0;
}

.img-wrap, .img-wrap2 {
  width: 305px;
  height: 139px;
  margin: 0 auto;
  position: relative;
}

.extra {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: auto;
}

.exit {
  float: left;
}

.info {
  float: right;
  border: solid;
  border-color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.35);
  color: #FFFFFF;
  width: 150px;
  height: auto;
}

button a {
  color: #000000;
}

a {
  text-decoration: none;
}
