body {
  background-image: url("background_img.jpg");
  color: #FFFFFF;
}

.title {
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
}

.card {
  width: 200px;
  
}

.card-layer {
  width: 200px;
  height: 270px;
  position: relative;
  display: inline-block;
  background-color: #000000;
}

.card1, .card2, .card3, .card4 {
  width: 100px;
}

.card1-layer, .card2-layer, .card3-layer, .card4-layer {
  width: 100px;
  height: 135px;
  position: absolute;
}

.card1-layer:hover card1-layer, .card2-layer:hover card2-layer, .card3-layer:hover card3-layer, .card4-layer:hover card4-layer {
  opacity: 0.75;
  background-color: #000000;
}

.card1:hover .card1, .card2:hover card2, .card3:hover card3, .card4:hover card4 {
  opacity: 0.25;
}

.player {
  text-align: center;
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}

.dealer {
  text-align: center;
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}

