body {
  background-image: url("background_img.jpg");
  color: #FFFFFF;
}

.title {
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
}

.card {
  
  width: 200px;
}

.player {
  text-align: center;
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}

.dealer {
  text-align: center;
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}

